@using VideoClubA.Web.Areas.Movies.Models;
@model List<MovieWithAvailabilityViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">

            <table class="table table-hover">
              <thead>
                <tr class="table-success">
                  <th scope="col">Tαινία</th>
                  <th scope="col">Περιγραφή</th>
                  <th scope="col">Κατηγορία</th>
                  <th scope="col">Διαθεσιμότητα</th>
                </tr>
              </thead>
              <tbody>
                 @foreach (var movie in Model)
                 {
                         <tr class="table-primary">
                          <th scope="row">@movie.Title</th>
                          <td>@movie.Description</td>
                          <td>@movie.Genre</td>
                          <td>@movie.Availability</td>
                        </tr>
                  }
              </tbody>
            </table>
        </div>
    </div>
</div>


